{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": 8
      },
      "modules": "commonjs"
    }],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    ["babel-plugin-module-resolver", {
      "root": ["./"],
      "alias": {
        "~": "./src"
      }
    }]
  ]
}
